#map2{
  margin: auto;
  height: 360px;
  width: 560px;
  }
h1{
    text-align: center;

}
body{
  background: #ADD8E6;
}
p{
  margin: auto;
  max-width: 560px;
  font-size: 16px;
  margin-top: 2em;
}
@media screen and (max-width: 610px){
  #map2{
    height: 260px;
    width: 360px;
  }
}
